.mainContainer {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}
.inputsContainer,
.outputContainer {
  width: 100%;
  background-color: #f8f8f8;
  height: 90vh;
  margin: 1vw;
  border-radius: 0.5vw;
  padding: 1% 2%;
  overflow-y: scroll;
}
.logoTitle {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Calibri";
}
.numberOfLinesWrapper,
.fontFamilyWrapper,
.alignmentWrapper,
.faviconSizeWrapper {
  display: flex;
  align-items: center;
  margin-block: 1vw;
}
.linesText {
  margin-right: 5%;
  margin-bottom: 0;
}
.linesDropdown {
  width: 10%;
}
.inputsWrapper {
  display: flex;
  flex-wrap: wrap;
}
.textAndFormatter {
  width: 100%;
  display: flex;
  align-items: center;
}
.textFields {
  width: 80%;
  margin-block: 0.5vw !important;
}
.faviconDetailsWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.faviconSizeWrapper {
  width: 30%;
}
.faviconLetter {
  width: 30% !important;
}
.fontsDropdown {
  min-width: 25%;
  width: max-content;
}
.transparentBackground {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.checkbox {
  margin-right: 4px !important;
  padding: 0 !important;
}
.alignmentWrapper {
  display: flex;
  align-items: center;
}
.iconButton {
  margin-inline: 0.2vw !important;
}
.colorPickerWrapper {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  margin-block: 2vw 1vw;
}
.backgroundColorWrapper {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.colorPicker {
  width: 90% !important;
  height: 80% !important;
  margin-bottom: 1.6vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);
  border-radius: 10px;
}
.hexCode {
  width: 60%;
}
.noResultWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.noResultImage {
  width: 60%;
  padding-top: 10%;
}
.noText {
  font-size: 1.5vw;
  font-weight: lighter;
  color: black;
}
/* Scrollbar customization */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
