.outputMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.logoContainer {
  width: 320px;
  padding: 1vw;
  margin-block: 5%;
  margin-top: 10%;
}
.faviconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2.2vw;
  padding-inline: 3vw;
  margin-top: 5%;
  width: 144px;
  height: 144px;
}
.buttonsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 9vw;
}
.downloadButtons {
  width: 20% !important;
  background-color: #464fec !important;
  padding: 1% 3% !important;
  display: flex !important;
  align-items: center !important;
  font-size: 0.7vw !important;
}
